@font-face {
   font-family: "DM sans regular";
   src: url(../assets/fonts/static/DMSans-Regular.ttf);
}

@font-face {
    font-family: "DM sans";
    src: url(../assets/fonts/static/DMSans-Medium.ttf);
}

:root {
    --Purple100: hsl(254, 88%, 90%);
    --Purple500: hsl(256, 67%, 59%);

    --Yellow100: hsl(31, 66%, 93%);
    --Yellow500: hsl(39, 100%, 71%);

    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 7%);
}

*{
    font-family: "DM sans";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(240, 239, 239, 0.676);
    padding-top: 30px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: var(--Purple500);
    width: 90%;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 30px;
}

.p1 {
    color: var(--White);
    font-size: 3.5em;
    line-height: 1;
}

.five-stars {
    height: 33px;
    width: 210px;
    margin-top: 12px;
}

.p-light {
    font-family: "DM sans regular";
    font-size: 18px;
    color: rgba(255, 255, 255, 0.735);
    margin-top: 5px;
    font-weight: 100;
}

.yellow-number {
    color: var(--Yellow500);
}

.box2,
.box3,
.box4,
.box5,
.box6,
.box7,
.box8 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;


    background-color: rgba(255, 255, 255, 0.701);
    border-radius: 10px;
    width: 90%;
    padding: 10px;
    margin-bottom: 30px;
}

.box2 {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.p2 {
    font-size: 1.5em;  
}

.img-box2 {
    height: 70px;
    width: 80%;
}

.box3 {
    position: relative;
    background-color: var(--Yellow500);
    height: 320px;
    padding-left: 30px;
    overflow: hidden;
}

.img-box3 {
    height: 250px;
    width: 85%;
}

.position-schedule {
    position: absolute;
    left: 30px;
    bottom: -36px;
    overflow: hidden;
}

.box4 {
    background-color: var(--Purple100);
}

.img-box4 {
    height: 280px;
    width: 95%;
    margin: 16px 0;
}

.title-schedule {
    font-size: 1.5em;
}

.small-letters {
    text-align: center;
    font-size: 17px;
    font-weight: 100;
    width: 70%;
}

.box5 {
    background-color: var(--Purple500);
}

.box5 p {
    font-size: 2em;
    line-height: 30px;
    color: var(--White);
    text-align: center;
    width: 60%;
    margin-bottom: 5px;
}

.box5 div {
    margin-bottom: 30px;
    margin-top: 10px;
}

.img-box5 {
    height: 280px;
    width: 95%;
}

.box6 {
    display: flex;
    flex-flow: column;
    padding-left: 30px;
    background-color: var(--White);

}

.img-box6 {
    height: 55px;
    width: 40%;
    margin: 10px 0;
}

.box6-number {
    font-size: 2em;
}

.box7,
.box8 {
    display: flex;
    justify-content: left;
    background-color: var(--Yellow100);
    padding-left: 30px;
}

.box7 p,
.box8 p {
    font-size: 2em;
    font-weight: 500;
    line-height: 30px;
    width: 90%;
}

.box7-purple-p {
    color: var(--Purple500);
}

.img-box7 {
    height: 80%;
    width: 55%;
   
    margin-top: 25px;
}

.box8 {
    background-color: var(--Yellow500);
}

.img-box8 {
    height: 80%;
    width: 65%;
    margin-top: 20px;
}
